@import "../../../styles/variables";

.container {
  background-color: $colPrimary;
  height: 10vh;
  @apply w-full px-3
          flex justify-between items-center
          fixed top-0;

  .wrapBurger {
    .iconBurger {
      height: 7vh;
      @apply w-auto aspect-square
              my-4
              flex flex-col justify-evenly;

      .iconB1,
      .iconB2,
      .iconB3 {
        @apply h-1 w-auto
                m-1
                rounded-full
                bg-black;
        @media (prefers-color-scheme: light) {
          background-color: $colTertiary;
        }
        &[data-status="false"] {
          transition: 0.3s;
        }
      }

      .iconB1[data-status="true"] {
        @apply rotate-45 translate-y-3 translate-x-1;
        transition: 0.3s;
      }
      .iconB2[data-status="true"] {
        @apply hidden;
        transition: 0.3s;
      }
      .iconB3[data-status="true"] {
        @apply -rotate-45 -translate-y-2.5 translate-x-1;
        transition: 0.3s;
      }
    }
  }

  .imgLogo {
    height: 7vh;
    @apply w-auto;
  }

  .iconUser {
    height: 7vh;
    @apply w-auto;
    @media (prefers-color-scheme: light) {
      filter: invert(100%);
    }
  }
}
